.input-group[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
}

.line {
    fill: none;
    stroke: blue;
    stroke-width: 1px;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
