<div>
  <h4 class="page-header">Central Limit Theorem Demo</h4>
  <div id="vega_test"></div>
  <script src="bower_components/d3/d3.min.js"></script>
  <script src="bower_components/vega/vega.min.js"></script>
  <script type="text/javascript">
    var $div = d3.select("#vega_test");
    $div.append("div").attr("id", "viz");
    var parse = function(spec) {
      vg.parse.spec(spec, function(chart) {
        chart({el: "#viz"}).renderer("svg").update();
      });
    };
    parse(genSpec());

  </script>
</div>
