<div id="genetic" class="aligncenter">
  <h2>Basic Genetic Algorithm Demo</h2>
  <div class="control-container">
      <div class="control">
          <button id="play" type="button"><strong>Play</strong></button>
          <button id="reset" type="button"><strong>Reset</strong></button>
          <div class="target">
              Target:
              <input value="METHINKS IT IS LIKE A WEASEL" maxlength="100" size="30" ng-model="target">
          </div>
          <div class="mutation_prob">
              Mutation Probability:
              <input value="10" maxlength="3" size="3" ng-model="mutation-prob">
              <span>%</span>
          </div>
          <div class="results"></div>
      </div>
  </div>
</div>
