<h4 class="page-header">Basic Genetic Algorithm Demo</h4>

<form class="form-horizonal" role="form">

  <div class="form-group">
    <label for="target" class="col-md-2 control-label">Target Phrase</label>
    <div class="col-md-4">
      <input id="target" type="text" class="form-control" placeholder="METHINKS IT IS LIKE A WEASEL"
             maxlength="100" size="30" ng-model="target"/>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="form-group">
    <label for="mutation" class="col-md-2 control-label">Mutation Probability (%)</label>
    <div class="col-md-1">
      <input id="mutation" type="text" class="form-control" placeholder="10"
             maxlength="3" size="3" ng-model="mutation_prob"/>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button ng-click="play()" class="btn btn-default"><strong>Play</strong></button>
      <button ng-click="reset()" class="btn btn-default"><strong>Reset</strong></button>
    </div>
  </div>

</form>
