<h4 class="page-header">Autocomplete Demo (via Trie)</h4>

<div class="form-group row">
  <label for="size" class="col-sm-2 control-label">Size of resultset: </label>
  <input style="" id="size" type="text" ng-model="size" class="col-sm-1" placeholder="10" maxlength="100">
</div>
<div class="form-group row">
  <label for="lookup" class="col-sm-2 control-label">Lookup: </label>
  <input style="" id="lookup" type="text" ng-model="keyword" ng-keyup="lookup($event, keyword)" class="col-sm-2">
</div>
<div>
  <p></p>
  <ul style="list-style-type: none">
    <li ng-repeat="suggestion in results">{{ suggestion }}</li>
  </ul>
</div>
