<h4 class="page-header">Trie Playground</h4>

<!--<div id="ram">{{ ramdar }}</div>-->

<div>
  Autocomplete: <input type="text" ng-model="keyword"/>
  <div>{{ results }}</div>
</div>

<!--<script>-->
  <!--var test_trie = new Trie();-->
  <!--test_trie.multi_insert(['foo', 'fou', 'bar', 'bars', 'bear']);-->
  <!--$("#ram").after($("<div id=\"trie\"><pre>" + JSON.stringify(test_trie.root, null, 2) + "</pre></div>"));-->
  <!--$("#trie").after($("<div id=\"has\"><pre>trie has the word 't': " + test_trie.hasWord("foo") + "</pre></div>"));-->
  <!--$("#has").after($("<div id=\"auto\"><pre>" + test_trie.autocomplete("b") + "</pre></div>"));-->
<!--</script>-->
